[submodule "m-step/mstp-debug/renode/src/renode-infrastructure"]
	path = m-step/mstp-debug/renode/src/renode-infrastructure
	url = https://github.com/ESCristiano/renode-infrastructure.git
[submodule "m-step/mstp-debug/renode/src/renode"]
	path = m-step/mstp-debug/renode/src/renode
	url = https://github.com/ESCristiano/renode.git
[submodule "m-step/s-world/mcuboot"]
	path = m-step/s-world/mcuboot
	url = https://github.com/mcu-tools/mcuboot
[submodule "m-step/s-world/tf-m-tests"]
	path = m-step/s-world/tf-m-tests
	url = https://github.com/ESCristiano/tf-m-tests.git
[submodule "m-step/s-world/trusted-firmware-m"]
	path = m-step/s-world/trusted-firmware-m
	url = https://github.com/ESCristiano/trusted-firmware-m.git
[submodule "m-step/s-world/mbedtls"]
	path = m-step/s-world/mbedtls
	url = https://github.com/ESCristiano/mbedtls
